*{
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex; /* responsavel por colocar os itens na mesma linha (lado a lado)*/
    align-items: center; /* alinhar os itens no nosso header para o centro*/
    justify-content: space-evenly;  /* tradução justificar-conteudo: espaço uniformente. align */
    padding: 15px; /* cuida do preenchimento*/
    background-color: rgb(116, 77, 5); /* cor de fundo dp nosso cabeçalho/header*/
    overflow: hidden; /**/
    line-height: 200px; /* altura*/
    max-height: 200px;  /* Altura máxima*/
}